In [20]:
from sklearn import linear_model
from sklearn.model_selection import cross_val_score
from sklearn.metrics import roc_auc_score,make_scorer

In [5]:
import pandas as pd

In [4]:
reg = linear_model.LinearRegression()

In [6]:
trn = pd.read_csv("train.csv")

In [7]:
trn.shape

(200000, 202)

In [8]:
trn.head(2)

,ID_code,target,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,train_0,0,8.9255,-6.7863,11.9081,5.093,11.4607,-9.2834,5.1187,18.6266,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,train_1,0,11.5006,-4.1473,13.8588,5.389,12.3622,7.0433,5.6208,16.5338,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518

In [10]:
x = trn.drop(['ID_code','target'],axis=1)

In [13]:
x.head(2)

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,8.9255,-6.7863,11.9081,5.093,11.4607,-9.2834,5.1187,18.6266,-4.9200,5.7470,...,4.4354,3.9642,3.1364,1.6910,18.5227,-2.3978,7.8784,8.5635,12.7803,-1.0914
1,11.5006,-4.1473,13.8588,5.389,12.3622,7.0433,5.6208,16.5338,3.1468,8.0851,...,7.6421,7.7214,2.5837,10.9516,15.4305,2.0339,8.1267,8.7889,18.3560,1.9518

In [14]:
y = trn.target

In [21]:
roc_scorer = make_scorer(roc_auc_score)

In [22]:
cross_val_score(reg,x,y,cv=5,scoring=roc_scorer)

array([0.85564504, 0.85675729, 0.85850671, 0.86405779, 0.86305062])

In [23]:
reg1 = linear_model.LinearRegression(normalize=True)

In [24]:
cross_val_score(reg1,x,y,cv=5,scoring=roc_scorer)

array([0.85564504, 0.85675729, 0.85850671, 0.86405779, 0.86305062])

In [25]:
x.describe()

,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,var_9,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
count,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,...,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000,200000.000000
mean,10.679914,-1.627622,10.715192,6.796529,11.078333,-5.065317,5.408949,16.545850,0.284162,7.567236,...,3.234440,7.438408,1.927839,3.331774,17.993784,-0.142088,2.303335,8.908158,15.870720,-3.326537
std,3.040051,4.050044,2.640894,2.043319,1.623150,7.863267,0.866607,3.418076,3.332634,1.235070,...,4.559922,3.023272,1.478423,3.992030,3.135162,1.429372,5.454369,0.921625,3.010945,10.438015
min,0.408400,-15.043400,2.117100,-0.040200,5.074800,-32.562600,2.347300,5.349700,-10.505500,3.970500,...,-14.093300,-2.691700,-3.814500,-11.783400,8.694400,-5.261000,-14.209600,5.960600,6.299300,-38.852800
25%,8.453850,-4.740025,8.722475,5.254075,9.883175,-11.200350,4.767700,13.943800,-2.317800,6.618800,...,-0.058825,5.157400,0.889775,0.584600,15.629800,-1.170700,-1.946925,8.252800,13.829700,-11.208475
50%,10.524750,-1.608050,10.580000,6.825000,11.108250,-4.833150,5.385100,16.456800,0.393700,7.629600,...,3.203600,7.347750,1.901300,3.396350,17.957950,-0.172700,2.408900,8.888200,15.934050,-2.819550
75%,12.758200,1.358625,12.516700,8.324100,12.261125,0.924800,6.003000,19.102900,2.937900,8.584425,...,6.406200,9.512525,2.949500,6.205800,20.396525,0.829600,6.556725,9.593300,18.064725,4.836800
max,20.315000,10.376800,19.353000,13.188300,16.671400,17.251600,8.447700,27.691800,10.151300,11.150600,...,18.440900,16.716500,8.402400,18.281800,27.928800,4.272900,18.321500,12.000400,26.079100,28.500700

## ridge reg

In [26]:
reg = linear_model.RidgeCV([0.1,1.0,10],normalize=True,scoring=roc_scorer,cv=5)

In [27]:
reg.fit(x,y)

RidgeCV(alphas=array([ 0.1,  1. , 10. ]), cv=5, fit_intercept=True,
    gcv_mode=None, normalize=True, scoring=make_scorer(roc_auc_score),
    store_cv_values=False)

In [28]:
reg.alpha_

10.0

In [35]:
reg.scoring(reg,x,y)

0.8610477095600835

## Lasso

In [39]:
reg = linear_model.LassoCV(n_alphas=12,normalize=True,cv=5)

In [40]:
reg.fit(x,y)

LassoCV(alphas=None, copy_X=True, cv=5, eps=0.001, fit_intercept=True,
    max_iter=1000, n_alphas=12, n_jobs=None, normalize=True,
    positive=False, precompute='auto', random_state=None,
    selection='cyclic', tol=0.0001, verbose=False)

In [41]:
roc_scorer(reg,x,y)

0.8611354714313953

In [43]:
reg.alpha_

1.0193380882233768e-07

## Elastic net

In [44]:
reg = linear_model.ElasticNetCV(n_alphas=12,cv=5)

In [45]:
reg.fit(x,y)

ElasticNetCV(alphas=None, copy_X=True, cv=5, eps=0.001, fit_intercept=True,
       l1_ratio=0.5, max_iter=1000, n_alphas=12, n_jobs=None,
       normalize=False, positive=False, precompute='auto',
       random_state=None, selection='cyclic', tol=0.0001, verbose=0)

In [46]:
roc_scorer(reg,x,y)

0.8610194663883295

## Lars Lasso

In [47]:
reg = linear_model.LassoLarsCV(cv=5)

In [48]:
reg.fit(x,y)

LassoLarsCV(copy_X=True, cv=5, eps=2.220446049250313e-16, fit_intercept=True,
      max_iter=500, max_n_alphas=1000, n_jobs=None, normalize=True,
      positive=False, precompute='auto', verbose=False)

In [49]:
roc_scorer(reg,x,y)

0.8611326241032731

## Bayesian ridge reg

In [50]:
reg = linear_model.BayesianRidge()

In [51]:
reg.fit(x,y)

BayesianRidge(alpha_1=1e-06, alpha_2=1e-06, compute_score=False, copy_X=True,
       fit_intercept=True, lambda_1=1e-06, lambda_2=1e-06, n_iter=300,
       normalize=False, tol=0.001, verbose=False)

In [52]:
roc_scorer(reg,x,y)

0.8610677832924902

##  forrest

In [53]:
from sklearn.ensemble import RandomForestClassifier

In [83]:
reg = RandomForestClassifier(n_estimators=10,min_samples_leaf=5)

In [84]:
scores = cross_val_score(reg,x,y,cv=5)

In [85]:
scores

array([0.90022749, 0.9001525 , 0.900075  , 0.9000975 , 0.8998975 ])

In [86]:
%time reg.fit(x,y)

CPU times: user 1min 11s, sys: 43.9 ms, total: 1min 11s
Wall time: 1min 10s

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=5, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

## predict

In [58]:
tst = pd.read_csv('test.csv')

In [59]:
tst.head(2)

,ID_code,var_0,var_1,var_2,var_3,var_4,var_5,var_6,var_7,var_8,...,var_190,var_191,var_192,var_193,var_194,var_195,var_196,var_197,var_198,var_199
0,test_0,11.0656,7.7798,12.9536,9.4292,11.4327,-2.3805,5.8493,18.2675,2.1337,...,-2.1556,11.8495,-1.4300,2.4508,13.7112,2.4669,4.3654,10.7200,15.4722,-8.7197
1,test_1,8.5304,1.2543,11.3047,5.1858,9.1974,-4.0117,6.0196,18.6316,-4.4131,...,10.6165,8.8349,0.9403,10.1282,15.5765,0.4773,-1.4852,9.8714,19.1293,-20.9760

In [61]:
x_tst = tst.drop(['ID_code'],axis=1)

In [64]:
y_pred = reg.predict(x_tst)

In [65]:
y_pred.shape

(200000,)

In [66]:
roc_scorer(reg,x,y)

0.6466563837197731

In [69]:
ss = pd.read_csv('sample_submission.csv',index_col='ID_code')

In [70]:
ss.head(2)

         target
ID_code
test_0        0
test_1        0

In [71]:
ss.target = y_pred

In [73]:
ss.head(5)

         target
ID_code
test_0        0
test_1        0
test_2        0
test_3        0
test_4        0

In [74]:
y_pred[:6]

array([0, 0, 0, 0, 0, 0])

In [77]:
ss.to_csv('try1.csv',index=True)

In [81]:
pd.read_csv('try1.csv',index_col='ID_code').head(2)

         target
ID_code
test_0        0
test_1        0

In [82]:
reg.feature_importances_

array([0.00709881, 0.00714597, 0.00793039, 0.00382752, 0.00370482,
       0.00516634, 0.00909405, 0.00355483, 0.00355654, 0.00595386,
       0.00336103, 0.00397324, 0.01234903, 0.00765775, 0.00338114,
       0.00389542, 0.00362086, 0.00325529, 0.00609954, 0.00364965,
       0.00390582, 0.00744819, 0.00896253, 0.00405632, 0.00428702,
       0.00356369, 0.0102422 , 0.00341032, 0.00397411, 0.00346973,
       0.00338612, 0.00365517, 0.00485118, 0.00652643, 0.00669357,
       0.00457942, 0.00480821, 0.0035801 , 0.0034918 , 0.00365708,
       0.00712866, 0.00371784, 0.00348361, 0.00454301, 0.00731921,
       0.00356281, 0.00376024, 0.00348353, 0.00420584, 0.00479205,
       0.00397339, 0.0044724 , 0.00413091, 0.01086863, 0.00357712,
       0.00384314, 0.0051342 , 0.00377024, 0.00394734, 0.00374358,
       0.00367952, 0.00338097, 0.0037206 , 0.00373368, 0.00354166,
       0.00343878, 0.00398991, 0.00538694, 0.00361309, 0.00393301,
       0.0039047 , 0.00445769, 0.00370536, 0.00358313, 0.00372396,
       0.00566903, 0.00860664, 0.00378015, 0.00799956, 0.00371841,
       0.00899349, 0.01625491, 0.00409751, 0.00421199, 0.00357833,
       0.00417774, 0.00558589, 0.00471857, 0.00406894, 0.00502059,
       0.00427944, 0.00554292, 0.00665861, 0.00499601, 0.00671575,
       0.00527168, 0.00353948, 0.00390285, 0.00343566, 0.0082198 ,
       0.00337461, 0.00358218, 0.00385333, 0.00330255, 0.00387566,
       0.00416912, 0.00460113, 0.00513201, 0.00632272, 0.00917466,
       0.01031509, 0.00441233, 0.004014  , 0.00379389, 0.00447099,
       0.0062508 , 0.00384549, 0.0035383 , 0.00465159, 0.0050744 ,
       0.00346811, 0.00576899, 0.00538718, 0.00589857, 0.00348035,
       0.00457607, 0.00340796, 0.0051483 , 0.00451455, 0.00340472,
       0.00486111, 0.00462123, 0.00446604, 0.00786297, 0.00406679,
       0.00440236, 0.00357203, 0.00403862, 0.0037609 , 0.01265492,
       0.003492  , 0.00482231, 0.00355771, 0.00375569, 0.00397312,
       0.00472117, 0.01010801, 0.00560479, 0.00760572, 0.00487583,
       0.00455159, 0.00442247, 0.00370548, 0.00357376, 0.0062366 ,
       0.00547162, 0.00393434, 0.00496302, 0.00324739, 0.00379811,
       0.00356289, 0.00341521, 0.00485415, 0.00498813, 0.00717094,
       0.00764318, 0.00966927, 0.00449871, 0.00388446, 0.0058648 ,
       0.00662195, 0.00389621, 0.00473457, 0.00518719, 0.01015451,
       0.00414458, 0.00359292, 0.00634359, 0.00393984, 0.0078619 ,
       0.00499535, 0.00361358, 0.00338847, 0.00360688, 0.00601117,
       0.00334925, 0.00415616, 0.00381251, 0.00538192, 0.00336337,
       0.00751449, 0.00646187, 0.00458454, 0.00385967, 0.00424955,
       0.00439374, 0.00415767, 0.00489556, 0.00760952, 0.00390852])